.container {
  max-width: 97rem;
  width: 90%;
  margin: 0 auto;
}

@import "base/base";
@import "base/typography";

@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";

@import "pages/home";
