.footer {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;

  color: #333;
  padding-bottom: 2.4rem;
  padding-top: 9rem;

  a:link,
  a:visited {
    font-weight: 700;
    color: inherit;
  }

  animation: opacity 1.2s ease-in-out backwards;
  animation-delay: 2s;
}
